@custom-media --small-viewport (max-width: 80em);
@custom-media --mobile-viewport (max-width: 30em);

.container {
   
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';

    min-height: 100%;

    font-size: var(--font-size-sub);
    
    padding-left: var(--padding-size-main);
    padding-right: var(--padding-size-main);



    & .search-index {

        & input {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid var(--second-color);
            border-radius: 8px;
            background-color: var(--main-background-color);
            font-family: var(--font-family-second);
            color: var(--second-color);
            font-size: 3rem;
            font-weight: 300;

        } 

        & :focus {
            border: 1px solid var(--main-color);
            outline: none;
        }

        

        & h2 {
            font-family: var(--font-family-main);
            font-weight: 300;
            margin-bottom: 5px;

            & button {
                background-color: var(--main-background-color);
                border: 1px solid;
                color: var(--second-color);
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-family: var(--font-family-second);
                font-size: 0.6rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
                cursor: pointer;
            }
    
            & :hover{
                background-color: var(--second-color);
                color: var(--main-background-color);
            }
        }
    }

    & .search-index-mobile {
        display: none;
    }

    @media screen and (--small-viewport) {

        & .search-index {
            display: none;
        }
        
        & .search-index-mobile {
            
            display: flex;

            & input {
                width: 80%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 1px solid var(--second-color);
                border-radius: 8px;
                background-color: var(--main-background-color);
                font-family: var(--font-family-second);
                color: var(--second-color);
                font-size: 3rem;
                font-weight: 300;
    
            } 

            & button {
                background-color: var(--second-color);
                border: 1px solid;
                border-radius: 8px;
                color: var(--main-background-color);
                padding: 12px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-family: var(--font-family-second);
                font-size: 3rem;
                font-weight: 300;
                letter-spacing: 2px;
                cursor: pointer;
                width: 20%;
                margin: 8px 0;
                margin: 8px 0;


                & :hover {
                    background-color: white;

                }
            }
    
            & :focus {
                border: 1px solid var(--main-color);
                outline: none;
            }
        }
        
    }

    @media screen and (--mobile-viewport) {
        & .search-index-mobile {
            
            flex-direction: column;

            & input {
                width: 100%;
            }

            & button {
                width: 100%;
            }
        }
    }

    & .search-results {

        & h1 {
            font-family: var(--font-family-title);
            font-size: 3rem;
            font-weight: 300;
            color: var(--second-color);
            border: 0;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 20px;

            & a {
                color: var(--main-color);
                text-decoration: none;    
            }

            & :hover {
                text-decoration: underline;
            }
        }

        & h2 {
            font-family: var(--font-family-second);
            margin-top: 10px;
            font-size: 0.6rem;
            text-transform:uppercase;
            color: var(--second-color);
            letter-spacing: 2px;

            & span {
                font-family: var(--font-family-main);
                color: var(--main-color);
            }

            & a {
                color: var(--main-color);
                text-decoration: none;    
            }

            & :hover {
                text-decoration: underline;
            }
        }

        & p {

            font-family: var(--font-family-second);
            font-weight: 300;
            width: 70%;
            font-size: 1rem;
            line-height: 1.3rem;
            font-weight: 300;
            margin-top: 5px;

            & a {
                color: var(--main-color);
                text-decoration: underline;    
            }

            & :hover {
                text-decoration: none;
            }
 
            & em {
                font-style: italic;
            }
           
        }

    }

    @media screen and (--small-viewport) {
        & .search-results {

            & p {
                width: 100%;
            }

        }
    }


    & .no-result {
        font-family: var(--font-family-title);
        font-size: 3rem;
        font-weight: 300;
        color: var(--second-color);
        border: 0;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }   

    & .search {

        position: fixed;
        right: 0;
        bottom: 0;
        width: 2%;
        height: 50px;
        margin-right: 1%;
        margin-bottom: 2%;

        & a {
            position: absolute;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            text-decoration: none;
            color: var(--second-color);
            font-family: var(--font-family-second);
            font-size: 0.8rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-left: 7px;
            margin-left: 7px;
        }

        & :hover {
            text-decoration: underline;
        }

        & svg {
            width: 25px;
            stroke: var(--second-color);
            stroke-width: 4px;
            align-self: flex-start;
            cursor: pointer;
            margin-right: 5px;
        }
    }

    @media screen and (--small-viewport) {
        & .search {
            margin-right: 3%;
            
        }
    }

    @media screen and (--mobile-viewport) {
        & .search {
            /* display: none; */
            margin-right: 10%;
            margin-bottom: 5%;

            & a {
                display: none;
            }

            /* & svg {
                width: 30px;
            } */
        }
    }

    & footer {

        display: flex;

        grid-area: footer;

        border-top: 1px solid var(--second-color);
        margin-top: 50px;
        height: 100px;


        font-family: var(--font-family-second);
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        
        padding-top: 20px;
        margin-right: 50px;
        
        & a {
            color: var(--second-color);
            text-decoration: none;
            margin-right: 15px;
        }

        & :hover {
            text-decoration: underline;
        }
    }

    @media screen and (--mobile-viewport) {
        & footer {
            display: none;
        }
    }


    & header {

        grid-area: header;

        position: fixed;
        top: 0;
        width: 100%;

        display: flex;
        justify-content: space-between;
        
        padding-bottom: var(--padding-size-main);
        padding-top: var(--padding-size-main);
        color: var(--second-color);

        align-items: center;

        margin-bottom: var(--padding-size-main); 

        & .titre {
            font-family: 'Ready Active';
            font-size: var(--font-size-title);
            align-self: flex-start;
            display: block;
            
            & a {
                color: var(--second-color);
                text-decoration: none;
            }

            & :hover {
                font-weight: 400;
            }

            & span {
                font-weight: 300;
            }
        }


        & .titre_mobile {
            display: none;
        }
        
        @media screen and (--mobile-viewport) {

            & .titre {
                display: none;
            }

            & .titre_mobile {

                font-family: 'Ready Active';
                font-size: 3rem;
                align-self: flex-start;
                display: block;
                font-weight: 400;

                & a {
                    text-decoration: none;
                    color: var(--second-color);
                }
    
                & :hover {
                    font-weight: 300;
                }
    
                /* & span {
                    font-weight: 300;
                } */
             
            }
        }

        & .navigation_mobile_glyph {
            display: none;
        }

        & .navigation_mobile {
            display: none;
        }

        & .navigation {
            display: flex;
            
            justify-content: space-between;
            align-self: flex-start;
            font-family: var(--font-family-main);
            text-transform: uppercase;
            font-size: var(--font-size-small);
            font-weight: 400;
            padding-top: 10px;
            width: 50%;
            padding-right: var(--padding-size-main);

            & a {

                color: var(--second-color);
                letter-spacing: 2px;
                text-decoration: none;

                &:last-of-type {
                    margin-right: 20px;
                }

            }
            
        }


        @media screen and (--small-viewport) {

            & .navigation_mobile_glyph {
                display: block;
                margin-right: 60px;
                margin-top: 10px;
                cursor: pointer;
            }

            & .navigation_mobile {
                position: fixed;
                z-index: 1;
                left:0;
                top:0;
                width: 100%;
                height: 100%;
                background-color: var(--main-background-color);
                font-family: var(--font-family-main);
                text-transform: uppercase;
                font-size: 3rem;
                font-weight: 300;
                padding-top: 20px;
                padding-left: 20px;

                & .navigation--menu {
                    display: flex;
                    flex-direction: column;
                }

                & a {
    
                    color: var(--second-color);
                    letter-spacing: 2px;
                    text-decoration: none;
                    margin-bottom: 10px;
                }

                & svg {
                    float: right;
                    cursor: pointer;
                    margin-right: 20px;
                }
            }
            
            & .navigation {
                display: none;
            }
        
        }
        
        @media screen and (--mobile-viewport) {
            & .navigation_mobile {
                font-size: 2rem;
            }
        }

    }

    & main {

        grid-area: main;
        overflow: auto;
        padding-top: 150px;

        & .loading {
            font-family: var(--font-family-main);
            color: var(--second-color);
            font-size: 1rem;
            font-weight: 300;
        }

        & .error {
            font-family: var(--font-family-second);
            font-size: 1rem;
            font-weight: 300;
            color: red;
        }

        & .filters {
            margin-bottom: 20px;
            padding-right: 20px;
    
            & button {
                background-color: var(--main-background-color);
                border: 1px solid;
                color: var(--second-color);
                padding: 5px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-family: var(--font-family-second);
                font-size: 0.6rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
                cursor: pointer;
            }
    
            & :hover{
                background-color: var(--second-color);
                color: var(--main-background-color);
            }
        }

        @media screen and (--mobile-viewport) {
            & .filters {
                width: 100%;
                padding-right: 0;
                
                & button {
                    width: 50%;
                }
            }
        }

        & .lettrine {
            font-family: var(--font-family-title);
            color: var(--second-color);
            font-size: 4rem;
            font-weight: 300;
            margin-bottom: 20px;
            margin-top: 20px;
            /* z-index: -999; */
        }

        @media screen and (--small-viewport) {
            & .lettrine {
                margin-bottom: 0;
            }
        }



        & .reference--container {
            display: flex;
            flex-direction: column;
            margin-bottom: 150px;

            & .reference--index {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                & .lettrine {
                    width: 30%;
                }

                & .reference--list {
                    width: 50%;

                    & .reference--item {
                        font-family: var(--font-family-second);
                        font-weight: 300;

                        & h1 {
                            margin-bottom: 5px;
                            margin-top: 20px;    
                            font-weight: 500;
                        }

                        & h2 {
                            margin-bottom: 5px;
                        }

                        & p {

                            & em {
                                font-style: italic;
                            }
                            
                            & a {
                                color: var(--main-color);
                                text-decoration: none;
                            }

                            & :hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

        }

        @media screen and (--small-viewport) {
            & .reference--container {

                & .reference--index {
                    flex-direction: column;

                    & .reference--list {
                        width: 100%;
                    }
                }
            }

        }

        & .information {

            & h1 {
                font-family: var(--font-family-title);
                font-size: 5rem;
                margin-top: 10px;
                font-weight: 300;
                color: var(--main-color);
                padding-bottom: 20px;
            }

            & p {
                font-family: var(--font-family-second);
                font-weight: 300;
                width: 80%;
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 1.3rem;
                line-height: 1.8rem;

                & em {
                    font-style: italic;
                }
              
                & a {
                    color: var(--main-color);
                    text-decoration: underline;
                }

                & :hover {
                    text-decoration: none;
                }
            }
        }

        & .article--container {

            display: flex;
            flex-direction: column;
            overflow: hidden;

            & .article--item {
                padding-left: 60px;

                & svg {
                    margin-top: 20px;
                }

                & h1 {
                    font-family: var(--font-family-title);
                    font-size: 5rem;
                    margin-top: 10px;
                    font-weight: 300;
                    color: var(--main-color);
                    padding-bottom: 20px;

                    & a {
                        color: var(--main-color);
                        text-decoration: none;
                    }

                    & :hover {
                        text-decoration: underline;
                    }
                }

                & h2 {
                    font-family: var(--font-family-second);
                    margin-top: 10px;
                    font-size: 0.6rem;
                    text-transform:uppercase;
                    color: var(--second-color);
                    letter-spacing: 2px;
                    margin-bottom: 5px;

                    & a {
                        color: var(--main-color);
                        text-decoration: none;
                        font-family: var(--font-family-main);
                    }

                    & :hover {
                        text-decoration: underline;
                    }

                }

                & p {
                    font-family: var(--font-family-second);
                    font-weight: 300;
                    width: 80%;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    font-weight: 300;
                    /* margin-bottom: 20px; */

                    & em {
                        font-style: italic;
                    }
                  
                    & a {
                        color: var(--main-color);
                        text-decoration: underline;
                    }

                    & :hover {
                        text-decoration: none;
                    }
                }

                & .date {
                    z-index: -999;
                    position: absolute;
                    font-family: var(--font-family-main);
                    font-size: 0.6rem;
                    transform: rotate(-90deg);
                    transform-origin: 50px 95px;

                }
            }

            & .article--detail {

                /* width: 70%; */
                display: flex;
                flex-direction: row;

                & .article--text {

                    width: 70%;

                    & h1 {
                        font-family: var(--font-family-title);
                        font-size: 5rem;
                        margin-top: 10px;
                        font-weight: 300;
                        color: var(--main-color);
                        padding-bottom: 20px;
                    }
    
                    & h2 {
                        font-family: var(--font-family-second);
                        margin-top: 10px;
                        font-size: 0.6rem;
                        text-transform:uppercase;
                        color: var(--second-color);
                        letter-spacing: 2px;
                        margin-bottom: 5px;
    
                        & span {
                            font-family: var(--font-family-main);
                            color: var(--main-color);
                        }
                    }
    
                    & p {
                        font-family: var(--font-family-second);
                        font-weight: 300;
                        font-size: 1rem;
                        line-height: 1.3rem;
                        font-weight: 300;
    
                        & em {
                            font-style: italic;
                        }
    
                        & a {
                            color: var(--main-color);
                            text-decoration: underline;
                        }
    
                        & :hover {
                            text-decoration: none;
                        }
                      
                    }
    
                    & .article--content {
    
    
                        & h2 {
                            font-size: 1.3rem;
                            margin-bottom: 0;
                            margin-top: 50px;
                            text-transform:none;
                        }
    
                        & p {
    
                            margin-top: 10px;
                            margin-bottom: 20px;
                            font-size: 1.3rem;
                            line-height: 1.8rem;
    
                            & em {
                                font-style: italic;
                            }
    
                            & sup {
    
                                vertical-align: super;
        
                                font-family: var(--font-family-main);
                                font-size: 0.8rem;
                                
                                & a {
                                    color: var(--second-color);
                                    text-decoration: none;
                                }
    
                                padding-left: 2px;
                            }
    
    
                            
                        }
    
                        & li {
    
                            list-style: inside;
                            list-style-type: decimal;
                            font-family: var(--font-family-main);
                            font-size: 0.8rem;
                            margin-top: 10px;
                            color: var(--second-color);
                            line-height: 1.3rem;
                            width: 60%;

                            & a {
                                color: var(--second-color);
                                padding-left: 5px;
                                text-decoration: none;
                            }
    
                            & p {
                                font-family: var(--font-family-second);
                                font-size: 1rem;
                                line-height: 1.3rem;
                                padding: 0;
                                margin: 0;
                                color: var(--main-color);
    
                                & em {
                                    font-style: italic;
                                }
    
                                & a {
                                    color: var(--second-color);
                                    padding-left: 5px;
                                    text-decoration: none;
                                }
                            }
                           
                        }
    
                        
    
                        & blockquote {
                            color: var(--second-color);
                            padding-left: 50px;
                            padding-right: 80px;
                        }
    
                        & .ref {
                            position: absolute;
                            font-family: var(--font-family-title);
                            font-size: 1rem;
                            font-weight: 600;
                            transform: rotate(90deg);
                            width: 100px;
                            padding-top: 90px;
    
                            & span {
                                font-family: var(--font-family-main);
                                font-weight: 400;
                                font-size: 0.7rem;
                                color: var(--second-color);
                            }
                        }
        
                        & figcaption {
                            font-family: var(--font-family-second);
                            text-transform: none;
                            font-weight: 300;
                            font-size: var(--font-size-sub);
                            letter-spacing: 0px;
                            line-height: 1.3rem;
                            color: var(--second-color);
                            margin-bottom: 50px;
                            width: 100%;
                            padding-left: 80%;
                        }
                        
        
                        & img {
                            width: 100%;
                            padding-left: 30px;
                        } 
                    }
    
                }
            }
                

            & .article--notions {

                padding-left: 20px;
                width: 30%;
                overflow-y: scroll;
                height: 100%;

                & li {
                    width: 80%;
                    list-style: none;

                    & h2 {
                        font-family: var(--font-family-main);
                        margin-top: 10px;
                        font-size: 0.8rem;
                        color: var(--second-color);
                        letter-spacing: 2px;
                        margin-bottom: 5px;

                        & a {
                            text-decoration: none;
                            color: var(--main-color);
                        }

                        & :hover {
                            text-decoration: underline;
                        }
                    }

                    & p {
                        font-family: var(--font-family-second);
                        font-weight: 300;
                        font-size: 0.8rem;
                        line-height: 1rem;
                        font-weight: 300;
                        margin-bottom: 20px;

                        & em {
                            font-style: italic;
                        }

                        & a {
                            text-decoration: underline;
                            color: var(--main-color);
                        }
                    }

                }

            }

        }

        @media screen and (--small-viewport) {
            
            & .article--container {
            
                flex-direction: column;

                & .article--detail {
                    flex-direction: column;
                    /* width: 100%; */

                    & .article--text {
                        width: 100%;
                    }

                    & .article--notions {
                        margin-top: 50px;
                        width: 100%;
                    }

                }

            
            }

        }

        @media screen and (--mobile-viewport) {
            & .article--container {

                & .article--item {
                    padding-left: 0;

                    & h1 {
                        font-size: 3rem;
                    }

                    & p {
                        width: 100%;
                    }

                    & .date {
                        display: none;
                    }
                }

                & .article--detail {
                
                    & h1 {
                        font-size: 3rem;
                    }

                    & .article--content {

                        /* & p {
                            font-size: 1rem;
                            line-height: 1.6rem;
                        } */

                        & blockquote {

                            padding: 0;
                            
                        }
                    }
                }
            }
            
        }

        & .author--container {
            display: flex;
            margin-bottom: 150px;


            & .author--left {
                /* overflow-y: scroll; */
                height: 100%;
                width: 30%;
                /* position: absolute; */
                border-right: solid 1px var(--second-color);
                /* z-index: -1; */
            }

            & .author--right {

                /* padding-left: 35%; */
                /* z-index: -999; */
                padding-left: 50px;
                width: 70%;

                & svg {
                    float: right;
                    cursor: pointer;
                }

                & .author--detail {

                 
                    & h1 {
                        font-family: var(--font-family-title);
                        font-size: 5rem;
                        margin-top: 10px;
                        font-weight: 300;
                        color: var(--main-color);
                        padding-bottom: 20px;
                    }

                    & h2 {
                        font-family: var(--font-family-second);
                        margin-top: 10px;
                        font-size: 0.6rem;
                        text-transform:uppercase;
                        color: var(--second-color);
                        letter-spacing: 2px;
                        margin-bottom: 5px;

                        & span {
                            font-family: var(--font-family-main);
                            color: var(--main-color);
                        }
                    }

                    & p {
                        font-family: var(--font-family-second);
                        font-weight: 300;
                        width: 80%;
                        font-size: 1rem;
                        line-height: 1.3rem;
                        font-weight: 300;

                        & em {
                            font-style: italic;
                        }

                        & a {
                            color: var(--main-color);
                            text-decoration: underline;
                        }

                        & :hover {
                            text-decoration: none;
                        }
                    }         

                    & .ref {
                        position: absolute;
                        font-family: var(--font-family-title);
                        font-size: 1rem;
                        font-weight: 600;
                        transform: rotate(90deg);
                        margin-top: 80px;
                        transform-origin: 20px -10px;
                        z-index: -999;

                    }
                }

                & .author-projects {

                    padding-left: 30px;
                    margin-top: 50px;
    
                    & .author-projects--item {

                        margin-top: 20px;

                        & h1 {
                            font-family: var(--font-family-title);
                            font-size: 3rem;
                            font-weight: 300;
                            color: var(--second-color);
                            border: 0;
                            padding: 0;
                            margin-top: 10px;
                            margin-bottom: 20px;

                            & a {
                                color: var(--main-color);
                                text-decoration: none;    
                            }
        
                            & :hover {
                                text-decoration: underline;
                            }
                        }

                        & h2 {
                            font-family: var(--font-family-second);
                            margin-top: 10px;
                            font-size: 0.6rem;
                            text-transform:uppercase;
                            color: var(--second-color);
                            letter-spacing: 2px;
                            margin-bottom: 5px;

                            /* & span {
                                font-family: var(--font-family-main);
                                color: var(--main-color);
                            } */
                        }


                        & p {
                            font-family: var(--font-family-second);
                            font-weight: 300;
                            width: 80%;
                            font-size: 1rem;
                            line-height: 1.3rem;
                            font-weight: 300;

                            & em {
                                font-style: italic;
                            }

                            & a {
                                color: var(--main-color);
                                text-decoration: underline;
                            }
    
                            & :hover {
                                text-decoration: none;
                            }
    

                        }

                        & svg {
                            float: none;
                        }
                    }
                }
            }
        }

        @media screen and (--small-viewport) {
            & .author--container {
                
                & .author--left {
                    display: none;
                }

                & .author--right {
                    width: 100%;
                    padding-left: 0;
                }

            }
            
        }

        @media screen and (--mobile-viewport) {
            & .author--container {
                
                width: 100%;

                & .author--right {

                    width: 100%;
                    
                    & .author--detail {

                        & h1 {
                            font-size: 3rem;
                        }

                        & p {
                            width: 100%;
                          
                        }

                        & .ref {
                            display: none;
                        }

                    }

                    & .author-projects {

                        padding: 0;

                        & .author-projects--item {
                            width: 100%;

                            & p {
                                width: 100%;
                            }
                        }
                    }

                }

            }
            
        }


        & .author--list {
            display: flex;
            flex-wrap: wrap;

            & .author--item {

                & h2 {
    
                    font-family: var(--font-family-main);
                    margin-bottom: 5px;
                    font-size: 0.8rem;
    
                    & a {
                        color: var(--main-color);
                        text-decoration: none;
                    }
    
                    & :hover {
                        text-decoration: underline;
                    }
                }
    
                & p {
                    font-family: var(--font-family-second);
                    width: 80%;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    font-weight: 300;

                    & em {
                        font-style: italic;
                    }
                    
                    & a {
                        color: var(--main-color);
                        text-decoration: underline;
                    }
    
                    & :hover {
                        text-decoration: none;
                    }
                }
            }

        }

        @media screen and (--small-viewport) {
            & .author--list {
                & .author--item {
                    width: 100%;

                    
                }
                
            }
        }

        @media screen and (--mobile-viewport) {
            & .author--list {

                & .author--item {
                    width: 100%;

                    & p {
                        width: 100%;
                    }
                    
                }
                
            }
        }

        & .notion--container {
            display: flex;
            margin-bottom: 150px;

            & .notion--left {
                /* overflow-y: scroll; */
                height: 100%;
                width: 30%;
                /* position: absolute; */
                border-right: solid 1px var(--second-color);
                /* z-index: -999; */
            }

            & .notion--right {

                /* padding-left: 35%; */
                width: 70%;
                padding-left: 50px;

                & svg {
                    float: right;
                    cursor: pointer;
                }

                & .ref {
                    position: absolute;
                    font-family: var(--font-family-title);
                    font-size: 1rem;
                    font-weight: 600;
                    transform: rotate(90deg);
                    transform-origin: -20px 30px;
                    z-index: -999;
                }

                & .notion--detail {
                 
                    & h1 {
                        font-family: var(--font-family-title);
                        font-size: 3rem;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        font-weight: 300;
                        color: var(--second-color);
                        /* border-bottom: 1px solid var(--second-color); */
                        /* padding-bottom: 20px; */
                    }

                    & p {

                        font-family: var(--font-family-second);
                        width: 80%;
                        font-size: 1rem;
                        line-height: 1.3rem;
                        font-weight: 300;
                        /* margin-bottom: 10px; */

                        & em {
                            font-style: italic;
                        }

                        & a {
                            color: var(--main-color);
                        }
                    }

                   
                }

                & .notion-projects {

                    padding-left: 30px;
                    margin-top: 50px;
    
                    & .notion-projects--item {

                        margin-top: 20px;

                        & h1 {
                            font-family: var(--font-family-title);
                            font-size: 3rem;
                            font-weight: 300;
                            color: var(--second-color);
                            border: 0;
                            padding: 0;
                            margin-top: 10px;
                            margin-bottom: 20px;

                            & a {
                                color: var(--main-color);
                                text-decoration: none;    
                            }
        
                            & :hover {
                                text-decoration: underline;
                            }
                        }

                        & h2 {
                            font-family: var(--font-family-second);
                            margin-top: 10px;
                            font-size: 0.6rem;
                            text-transform:uppercase;
                            color: var(--second-color);
                            letter-spacing: 2px;
                            margin-bottom: 5px;

                            & span {
                                font-family: var(--font-family-main);
                                color: var(--main-color);
                            }
                        }

                        & p {
                            font-family: var(--font-family-second);
                            font-weight: 300;
                            width: 80%;
                            font-size: 1rem;
                            line-height: 1.3rem;
                            font-weight: 300;
                            margin-bottom: 0;

                            & em {
                                font-style: italic;
                            }
                        }

                        & svg {
                            margin-top: 20px;
                            float: none;
                        }
                        
                       
                    }
                }
            }
        }

        @media screen and (--small-viewport) {
            
            & .notion--container {

                & .notion--list {


                    & .notion--item {
                        width: 100%;
                    }
                }

                & .notion--left {
                    display: none;
                }

                & .notion--right {
                    padding-left: 0;
                    width: 100%;
                }
            }
            
        }

        @media screen and (--mobile-viewport) {

            & .notion--container {

                & .notion--list {

                    & .notion--item {

                        & p {
                            width: 100%;
                        }
                    }
                }

                & .notion--right {
                    
                    & .notion--detail {
                        & h1 {
                            font-size: 3rem;
                        }

                        & p {
                            width: 100%;
                        }

                        & .ref {
                            display: none;
                        }

                    }

                    & .notion-projects {
                        padding: 0;

                        & .notion-projects--item {

                            & p {
                                width: 100%;
                            }

                        }
                    }

                }
                
            }
        }


        & .notion--list {
            display: flex;
            flex-wrap: wrap;

            & .notion--item {
                
                margin-bottom: 20px;

                & h2 {

                    font-family: var(--font-family-main);
                    margin-bottom: 5px;
                    font-size: 0.8rem;

                    & a {
                        color: var(--main-color);
                        text-decoration: none;
                    }

                    & :hover {
                        text-decoration: underline;
                    }
                }

                & p {
                    font-family: var(--font-family-second);
                    font-weight: 300;
                    width: 80%;
                    font-size: 1rem;
                    line-height: 1.3rem;
                    font-weight: 300;

                    & em {
                        font-style: italic;
                    }

                    & a {
                        color: var(--main-color);
                    }

                }
            }

        }

        & .project-index {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & .project--item {

                flex: 1 0 34%;
                padding-right: 20px;
                padding-bottom: 20px;
                cursor: pointer;


                & .item-detail {
                    min-width: 200px;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    
                    & img {
                        width: 100%;
                    }

                    & .item-info {

                        text-align: center;
                        width: 100%;
                        height: 100%;
                        padding-top: 5%;
                        
                        & svg {
                            margin-bottom: 5px;
                        }

                        & h1 {

                            font-family: var(--font-family-title);
                            font-size: 2.3rem;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            font-weight: 300;
                            color: var(--second-color);
                            line-height: 1.8rem;
                            
                        }

                        & h2 {
                            font-family: var(--font-family-second);
                            font-size: 0.6rem;
                            font-weight: 300;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            color: var(--second-color);
                            margin-bottom: 5px;
                        }

                        & h3 {
                            font-family: var(--font-family-second);
                            font-size: 0.8rem;
                            line-height: 1.3rem;
                            font-weight: 300;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            /* margin-top: 5px; */
                            color: var(--main-color);
                        }


                        & p {
                            font-family: var(--font-family-second);
                            font-size: 1rem;
                            line-height: 1.5rem;
                            font-weight: 300;

                            & em {
                                font-style: italic;
                            }

                            & a {
                                color: var(--main-color);
                                text-decoration: underline;
                            }
                            
                            & :hover {
                                text-decoration: none;
                            }
                        }

                    }
                }

            }

        }

        @media screen and (--small-viewport) {

            & .project-index {

                display: flex;
                flex-direction: column;

                & .project--item {

                    flex: 1 0 34%;
                    padding-right: 0px;
                    /* padding-bottom: 50px; */
                    cursor: pointer;

                    & .item-detail {

                        & .item-info {
                            padding-top: 20%;
                            padding-bottom: 20%;
                        }
                    }
                }
    
            }
        
        }

        

        & .project {

            display: flex;
            flex-direction: column;

            & .project--informations {

                & .project-informations--header {

                    & h1 {
    
                        font-family: var(--font-family-title);
                        font-size: 5rem;
                        margin-top: 10px;
                        font-weight: 300;
                        line-height: 4rem;
        
                        & a {
                            text-decoration: none;
                            color: var(--main-color);
                        }
        
                    }
                }

                & h2 {
                    font-family: var(--font-family-second);
                    text-transform: uppercase;
                    color: var(--second-color);
                    font-size: var(--font-size-small);
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-bottom: 2px;
    
                }

                & .project-informations--details {

                    display: flex;
                    flex-direction: row;
                    margin-bottom: 100px;

                    & .project-informations-details--right {
                        
                        & h2 {
                            margin-top: 20px;
                            margin-bottom: 5px;
                        }


                        & p {
                            margin-bottom: 5px;
                            font-family: var(--font-family-main);
                            text-transform: uppercase;
                            font-size: 0.7rem;
                            letter-spacing: 2px;
                            font-weight: 300;
            
                            & a {
                                color: var(--main-color);
                                text-decoration: none;
                            }
                            
                            & :hover {
                                text-decoration: underline;
                            }
                        }
                    }

        
                    & li {
                        font-family: var(--font-family-main);
                        text-transform: uppercase;
                        font-size: 0.7rem;
                        letter-spacing: 2px;
                        font-weight: 300;
                        padding-bottom: 5px;
                        list-style: none;
        
                        & a {
                            text-decoration: none;
                            color: var(--main-color);
                        }
        
                        & :hover {
                            text-decoration-line: underline;
                        }
                    }

                    & .project-informations-details--left {
                        
                        width: 50%;
                        padding-right: 50px;

                        & h2 {
                            margin-top: 20px;
                            margin-bottom: 5px;
                        }

                        & p {
                            margin-bottom: 5px;
                            font-family: var(--font-family-main);
                            text-transform: uppercase;
                            font-size: 0.7rem;
                            letter-spacing: 2px;
                            font-weight: 300;

                            & em {
                                font-style: italic;
                            }
            
                            & a {
                                color: var(--main-color);
                                text-decoration: none;
                            }
                            
                            & :hover {
                                text-decoration: underline;
                            }
                        }

                        & .description {

                            & :hover {
                                text-decoration: none;
                            }
                        
                            & p {
                                font-family: var(--font-family-second);
                                font-weight: 300;
                                font-size: var(--font-size-sub);
                                letter-spacing: 0px;
                                line-height: 1.5rem;
                                text-transform: none;

                                & em {
                                    font-style: italic;
                                }
                               
                                & a {
                                    color: var(--main-color);
                                    text-decoration: underline;
                                }
        
                                & :hover {
                                    text-decoration: none;
                                }
                            }
                        }

                    }
                }
           
            }

            @media screen and (--small-viewport) {

                & .project--informations {

                    & .project-informations--details {

                        flex-direction: row;
        
                        & .project-informations-details--left {
                            width: 80%;
                            padding-right: 50px;
                        }
                    }
                }
                
            }

            @media screen and (--mobile-viewport) {


                & .project--informations {

                    & .project-informations--header {
                
                        & h1 {
        
                            font-size: 3rem;
            
                        }
                    }
    
                    & .project-informations--details {
    
                        flex-direction: column;
                        margin-bottom: 20px;

                        & .project-informations-details--left {
                            width: 100%;
                            padding-right: 0px;
                        }
    
                    }
                }
                
            }

            & .project-informations--images {

                counter-reset: section;
                padding-right: 30px;

                & li {

                    margin-bottom: 100px;

                    & :hover {
                        text-decoration: none;
                    }
                    
                    & .ref {
                        position: absolute;
                        font-family: var(--font-family-title);
                        font-size: 1rem;
                        font-weight: 600;
                        transform: rotate(90deg);
                        width: 100px;
                        padding-top: 90px;
                    }

                    & .ref::after {
                        counter-increment: section;
                        content:  " ." counter(section);
                        font-family: var(--font-family-main);
                        font-weight: 400;
                        font-size: 0.7rem;
                        color: var(--second-color);
                    }
                    

                    & figcaption {
                        margin-top: 20px;
                        float: right;
                        font-family: var(--font-family-second);
                        text-transform: none;
                        font-weight: 300;
                        font-size: var(--font-size-sub);
                        letter-spacing: 0px;
                        line-height: 1.3rem;
                        color: var(--second-color);
                        /* width: 60%; */
                    }

                    & img {
                        width: 100%;
                        padding-left: 30px;
                    }   
                }
            }

            @media screen and (--small-viewport) {
                
                & .project-informations--images {

                    padding-right: 0px;

                    & li {

                        margin-bottom: 60px;

                        & img {
                            width: 100%;
                        } 

                        & figcaption {
                            margin-top: 5px;
                            font-size: var(--font-size-small);
                        }

                        
                    }
                }

            }


            & .project-informations--notions {

                display: flex;
                flex-direction: row;
                margin-bottom: 100px;

                & .ref {
                    position: absolute;
                    font-family: var(--font-family-title);
                    font-size: 1rem;
                    font-weight: 600;
                    transform: rotate(90deg);
                    width: 100px;
                    padding-top: 90px;
                }

                & .project-notion {

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding-left: 30px;


                    & .project-notion--item {
    
                        width: calc(100%/3);
                        margin-bottom: 20px;
    
                        & h2 {
    
                            font-family: var(--font-family-main);
                            font-size: 0.8rem;

                            margin-bottom: 5px;
                            text-transform: none;
                            font-weight: 400;
                            letter-spacing: 0px;

                            & a {
                                color: var(--main-color);
                                text-decoration: none;
                            }

                            & :hover {
                                text-decoration: underline;
                            }
                        }
        
                        & p {
                            font-family: var(--font-family-second);
                            font-weight: 300;
                            width: 80%;
                            font-size: var(--font-size-sub);
                            text-transform: none;
                            letter-spacing: 0px;
                            line-height: 1.3rem;

                            & em {
                                font-style: italic;
                            }
                            
                            & a {
                                color: var(--main-color);
                                text-decoration: underline;
                            }

                            & :hover {
                                text-decoration: none;
                            }
                        }
    
                    }

                    
                }

            }

            @media screen and (--small-viewport) {

                & .project-informations--notions {
    
                    & .project-notion {
                        
                        flex-direction: column;

                        & .project-notion--item {
                            width: 100%;
                        }

                    }

                }

            }

            @media screen and (--mobile-viewport) {

                & .project-informations--notions {
    
                    & .project-notion {
                        
                        & .project-notion--item {

                            & p {
                                width: 100%;
                            }

                        }

                    }

                }

            }

           
        }
    }
}

